<div
  class="container m-2"
  style="
    border: 3px solid black;
    width: 55%;
    border-radius: 20px;
    padding: 20px;
  "
>
  <h3>Template Forms</h3>
  <div class="row">
    <div class="col">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userdata="ngModelGroup">
          <div class="form-group">
            <input
              type="text"
              id="username"
              placeholder="Username"
              class="form-control"
              ngModel
              name="username"
              required
            />
          </div>
          <br />
          <div class="form-group">
            <input
              type="email"
              id="email"
              placeholder="Email"
              class="form-control"
              ngModel
              name="email"
              required
              email
              #email="ngModel"
            />
            <span class="help-block" *ngIf="!email.valid && email.touched"
              >Please enter a valid email</span
            >
          </div>
          <br />
          <div></div>
          <label for="secret">Secret Question : </label>
          <select
            id="secret"
            class="form-control"
            ngModel
            name="secret"
            [ngModel]="defaultQuestion"
          >
            <option value="pet">Your First pet</option>
            <option value="car">Your first Car</option>
          </select>
        </div>
        <br />
        <div class="form-group">
          <label for="">Gender</label>
          <div class="radio" *ngFor="let gender of genders">
            <label for="">
              <input
                type="radio"
                name="gender"
                ngModel
                [value]="gender"
                required
              />
              {{ gender }}
            </label>
          </div>
        </div>
        <br />
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
          Submit
        </button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row" *ngIf="submitted">
    <div class="col">
      <h3>Your Data</h3>
      <p>Username: {{ user.username }}</p>
      <p>Email: {{ user.email }}</p>
      <p>Gender: {{ user.gender }}</p>
    </div>
  </div>
</div>
