<div class="row">
  <div class="col">
    <input
      type="text"
      class="form-control"
      #accountName
      placeholder="Account Name"
    />
  </div>
  <div class="col">
    <select id="" class="form-control" #status>
      <option value="Active">Active</option>
      <option value="InActive">InActive</option>
      <option value="Hidden">Hidden</option>
    </select>
  </div>
  <div class="col">
    <button
      class="btn btn-primary"
      (click)="onCreateAccount(accountName.value, status.value)"
    >
      Add Account
    </button>
  </div>
</div>
