<!-- <app-tforms> </app-tforms> -->
<!-- <app-rforms> </app-rforms> -->
<div
  class="container m-2"
  style="
    border: 3px solid black;
    width: 55%;
    border-radius: 20px;
    padding: 20px;
  "
>
  <p>
    <b>There are two types of forms in Angular :-</b>
    <br />
    -->Template Forms(TForms)
    <br />
    -->Reactive forms(RForms)
  </p>
  <br />
  <h5><u>Click To know more :</u></h5>
  <a routerLink="/tforms"
    ><button class="btn btn-primary" type="submit">TForms</button></a
  >
  <br />
  <br />
  <a routerLink="/rforms"><button class="btn btn-primary">RForms</button></a>
</div>
